<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is sprite file</h1>
    <a href="/">Index</a>
    <a href="/coke">coke</a>
    <a href="/sprite">sprite</a>
    <a href="/royal">royal</a>
    <a href="/pepsi">pepsi</a>
</body>
</html>